body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('lib.jpg'); */
    /* Add your image URL here */
    background-size: cover;
    background-position: center;
}

.container2 {
    text-align: center;
}

.signup-link {
    display: block;
    /* Make the link behave like a block element */
    margin-top: 10px;
    /* Add some top margin for spacing */
}

.container {
    width: 400px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background */
    padding: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #942c2c;
    /* Changed title color */
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    /* Changed message color */
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    /* Changed label color */
}

.input-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-group {
    text-align: center;
}

.btn-group button,
.btn-group a {
    padding: 10px 20px;
    /* Same padding for both buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* Set the font size */
}

.btn-group button {
    background-color: #eb6149;
    /* Changed login button color */
    color: #fff;
    margin-right: 10pxrgb(255, 95, 67);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.287);
}

.btn-group a {
    background-color: #4682b4;
    /* Changed sign up button color */
    color: #fff;
    text-decoration: none;
}


/* imported css from styles.css */
nav {
    height: 6vw;
    display: flex;
    animation: fade-up 650ms 500ms backwards;
}

.nav__container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: max(78px, 10vw);
}

.nav__links {
    gap: 1.2vw;
}

.nav__link--icon {
    text-decoration: none;
    font-size: max(20px, 1.7vw);
    font-weight: bold;
    width: 100%;
    color: #aa3434;
    display: flex;
}


.btn2 {
    background-color: #aa3434;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    padding: 0.5vw 1.5vw;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.287);
}


.btn__menu {
    background-color: transparent;
    font-size: max(24px, 5vw);
    border: none;
    text-align: center;
    color: #aa3434;
    display: none;
}


.menu__backdrop {
    position: absolute;
    background-color: rgba(170, 52, 52, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.modal--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__list {
    padding: 32px 0px;
}

.menu__link {
    color: #fff;
    font-size: 40px;
    font-family: Alice;
}