{% include 'header.html' %}

<head>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="fontawesome-6/css/all.css" />
  <script src="app.js"></script>
</head>
<style></style>

<body>
  <nav>
    <div class="nav__container">
      <a href="{{url_for('dashboard')}}">
        <img src="/static/assets/logo.png" alt="" class="logo__img" />
      </a>
    </div>
  </nav>
  <!-- <div class="container-fluid" id="main">
    {% include 'top_menus.html' %} -->

  <div class="row row-offcanvas row-offcanvas-left">
    {% include 'left_menus.html' %}
    <div class="col-md-9 col-lg-10 main">
      <h2>Dashboard</h2>
      <hr>
    </div>
  </div>
</body>

</html>