<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Library Management System</title>
	<link rel="stylesheet" href="/static/style/register.css"> <!-- Linking external CSS file -->
	<script src="https://kit.fontawesome.com/78449d34a0.js" crossorigin="anonymous"></script>
	<style>
		.container-margin {
			margin: 100 auto;
		}
	</style>
</head>
<nav>
	<div class="nav__container">
		<a href="{{url_for('home')}}">
			<img src="/static/assets/logo.png" alt="" class="logo__img" />
		</a>
	</div>
</nav>

<body>
	<div class="container">
		<h1>Sign Up</h1>
		<h3>Please enter your details</h3>
		<form action="#" method="post">
			<div class="input-group">
				<label for="first_name">First Name:</label>
				<input type="text" class="form-control" id="first_name" name="first_name"
					placeholder="Enter first name">
			</div>
			<div class="input-group">
				<label for="last_name">Last Name:</label>
				<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name">
			</div>
			<div class="input-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
			</div>
			<div class="input-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
			</div>
			<div class="btn-group">
				<button type="submit">Sign Up</button>
			</div>
			<a href="{{url_for('login')}}">Back</a>
		</form>
	</div>
	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-analytics.js";
		// TODO: Add SDKs for Firebase products that you want to use
		// https://firebase.google.com/docs/web/setup#available-libraries

		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		const firebaseConfig = {
			apiKey: "AIzaSyANie61Q-n-dtROClfAUHkHcDFMZAS1elM",
			authDomain: "dbms-mini-library.firebaseapp.com",
			databaseURL: "https://dbms-mini-library-default-rtdb.asia-southeast1.firebasedatabase.app",
			projectId: "dbms-mini-library",
			storageBucket: "dbms-mini-library.appspot.com",
			messagingSenderId: "243636977038",
			appId: "1:243636977038:web:458def234a3e18c78078df",
			measurementId: "G-R3XPG94ZDM"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	</script>
</body>



</html>

<!-- 

{% include 'header.html' %}
<body>
  <div class="container-fluid" id="main">
  {% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">      
      <div class="col-md-9 col-lg-10 main"> 
	<h2>User Registration</h2>
	<form action="{{ url_for('register') }}" method="post">
        {% if mesage is defined and mesage %}
			<div class="alert alert-warning">{{ mesage }}</div>
		{% endif %}
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
		</div>    
		<button type="submit" class="btn btn-primary">Register</button>
		<p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
	</form>
<hr>         
       </div>       
      </div>     
    </div>
  </body>
</html> -->